body {
overflow-x: hidden;
overflow-y: visible;
}
svg {
    border: 1px solid black;
    background-color: ghostwhite;
}  

@media screen and (max-width: 450px) {
    svg text {
        font-size: 8px;
    }
}

 path { 
    stroke: lightgrey;
    stroke-width: 2;
    fill: none;
}
.slice path {
    stroke: #fff;
    stroke-width: 1px;
}
.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
.grid .tick {
      stroke-width: 2;
    stroke: lightgrey;
    opacity: 0.7;
    fill: none;  shape-rendering: crispEdges;font:12px sans-serif;
}

 

    .grid text {
    stroke: #000;
    stroke-width: 1;
    }
.polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}
